{% extends 'base.html' %}
{% block content %}
    {% if all_objects %}
        <!-- Summary -->
        <div>
            <h1>Summary</h1>
            <ul class="expenses-list">
                <!-- User Budget -->
                <li class="blue">{{ profile.budget | floatformat:2 }}$</li>

                {% for current_object in all_objects %}

                    <!-- First Expense -->
                    <li class="red"> - {{ current_object.price | floatformat:2 }}$</li>
                    {#            <!-- Second Expense -->#}
                    {#            <li class="red"> - 200.00$</li>#}
                {% endfor %}

                <!-- Money Left -->
                <li class="green">= {{ money_left | floatformat:2 }}$ left</li>
            </ul>
        </div>
        <!-- End Summary -->
    {% endif %}

    <!-- Headline My Expenses -->
    <h1>My Expenses</h1>
    <!-- Add Expense Button -->
    <a class="button add" href="{% url 'create expense' %}">Add Expense</a>

    {% if all_objects %}
        <!-- Expenses Container -->
        <div class="expenses-container">

            {% for current_object in all_objects %}
                <!-- First Expense Container -->
                <div class="expense-container">
                    <!-- Expense Title -->
                    <h2>{{ current_object.title }}</h2>
                    <!-- Expense Image -->
                    <img src="{{ current_object.expense_image }}" alt="description">

                    {% if current_object.description %}
                    <!-- Expense Description -->
                    <p>{{ current_object.description }}</p>
                    {% endif %}

                    <div class="expense-detail">
                        <div>
                            <!-- Expense Price -->
                            <p>Price: {{ current_object.price | floatformat:2 }}$</p>
                        </div>
                        <div class="right">
                            <!-- Edit Expense Button -->
                            <a class="button edit" href="{% url 'edit expense' pk=current_object.pk %}">Edit</a>
                            <!-- Delete Expense Button -->
                            <a class="button delete" href="{% url 'delete expense' pk=current_object.pk %}">Delete</a>
                        </div>
                    </div>
                </div>
                <!-- End First Expense Container -->
            {% endfor %}

        </div>
    {% endif %}
{% endblock %}
