{% extends 'base.html' %}

{% block navigation %}
<!-- Navigation Bar -->
<nav>
    <ul>
        <li class="img"><img src="/static/images/dollar.png" alt="dollar"></li>
        <li><a href="{% url 'index with profile' %}">Expenses Tracker</a></li>
    </ul>
</nav>
<!-- End Navigation Bar -->
{% endblock %}

{% block content %}
    <h1>Enter your data</h1>
    <!-- Profile Create Form -->
    <div class="form">
        <form action="{% url 'index no profile' %}" method="post" enctype="multipart/form-data">
            <label for="budget">Budget:</label>
            {{ form.budget }}

            <label for="firstName">First Name:</label>
            {{ form.first_name }}

            <label for="lastName">Last Name:</label>
            {{ form.last_name }}

            <label for="image">Profile Image:</label>
            {{ form.profile_image }}

            {% csrf_token %}

            <input type="submit" value="Submit">
        </form>
    </div>
    <!-- End Profile Create Form -->

{% endblock %}
